body {
    background-color: transparent;
    margin-bottom: 0px;
}

.navbar {
    background-color: #0C992C;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-inverse .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}
