
  body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #ffffff; /* Sesuaikan dengan warna tema */
    color: rgb(15, 0, 0);
    padding: 20px 0;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    align-items: center;
}

.col-md-auto {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 80px;
}

.header-text {
    margin-left: 20px;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.header-text p {
    margin: 5px 0 0;
}

.d-none {
    display: none;
}

.d-md-block {
    display: block;
}

@media (min-width: 768px) {
    .d-none {
        display: none !important;
    }
    .d-md-block {
        display: block !important;
    }
}

  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .header-info {
      display: none;
    }
    
    .nav-switch {
      display: block;
    }
  }
  
 /* NAVIGATION BAR */
.bg-green {
    background-color: #03a333; /* Green color */
}

.navbar-brand, .nav-link {
    color: #fff !important;
    font-size: 0.6rem; /* Adjust font size as needed */
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28%255, %255, %255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.navbar-nav .nav-item .nav-link {
    padding: 15px 15px;
    color: #fff !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #2E8B57; /* Warna hijau yang lebih gelap untuk dropdown */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-item {
    color: #fff !important;
    font-weight: bold;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu .dropdown-menu .dropdown-item:hover {
    background-color: #3CB371;
}


body {
    font-family: Arial, sans-serif;
}


.navbar a, .dropdown .dropbtn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #6de762;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-subcontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-subcontent a:hover {
    background-color: #00dd00;
}

/* Pimpinan fakultas */
.team {
    background-color: #ffffff;
    padding: 50px 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Munculkan scrollbar horizontal jika diperlukan */
    max-width: calc(100% - (lebar navbar));
    background: url('assets/img/logo/fakultas pertanian.jpg')
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.pimpinan-container {
    border: 2px solid #03c03c; /* Atur ketebalan dan warna garis pinggir */
    padding: 20px; /* Untuk memberi ruang di dalam border */
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
}

.member {
    text-align: center;
    margin: 0 20px;
}

.member img {
    width: 250px;
    height: 250px;
    margin-bottom: 35px;
    width: 100px; /* Sesuaikan dengan kebutuhan Anda */
    height: auto; /* Biarkan tingginya menyesuaikan */
}

.member h3 {
    margin-bottom: 10px;
}

.member p {
    color: #000000;
}

.team-members {
    display: flex;
    flex-wrap: nowrap;
}

.member {
    flex: 0 0 auto;
    margin-right: 20px; /* Atur jarak antar anggota */
}


/* info */
.info-box, .download-box, .agenda-box {
    border: 1px solid #03c03c;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.info-header, .download-header, .agenda-header {
    background-color: #cecece;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
}

/* footer */
.list-unstyled li {
    padding: 5px 0;
}

.custom-container {
    display: flex;
    justify-content: space-between;
}
.custom-column {
    flex: 1;
    margin-right: 15px;
    margin-left: 15px;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.footer-link {
    color: #007bff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.contact-info p {
    margin-bottom: 0.5rem;
    font-size: 10;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
    width: 20px; /* Adjust the size as needed */
    height: auto;
}

.contact-info img {
    width: 20px; /* Ubah sesuai dengan ukuran yang diinginkan */
    height: auto; /* Mempertahankan rasio aspek gambar */
    vertical-align: middle; /* Menyelaraskan gambar dengan teks */
    margin-right: 8px; /* Memberi jarak antara ikon dan teks */
}

.list-inline-item img {
    width: 24px;
    height: 24px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons img {
    width: 30px;
    height: auto;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
}

.embed-responsive-16by9 .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
@media (max-width: 767.98px) {
    .order-md-1 {
        order: 1;
    }
    .order-md-2 {
        order: 2;
    }
    .order-md-3 {
        order: 3;
    }
}

/* Custom Gallery CSS */
.thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .thumbnail:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .thumbnail:hover .caption {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
/* styles.css */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-thumbnail {
    position: relative;
    cursor: pointer;
}
.video-thumbnail img {
    width: 100%;
    height: auto;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

